footer {
    border-bottom: 10px solid $firstColor;
}
.social-footer, .rights {
    margin: 2em auto;
    font-family: 'Roboto';
    font-size: 1.3em;
    color: $blackColor;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 1em;  

    li {   
        list-style: none;
        text-decoration: none;
    }

    i {
        color: $greyColor;
        height: 100%;
    }
}

.social i:hover {
    color: $firstColor;
}

@media (min-width: 769px) {

    .social-footer {
        flex-direction: row;
        align-items:flex-start;
        p {
            margin-left: 1em;
        }
    }

    .social {
        width: 10%;
        margin: 0 1em;
    }

    .rights {
        align-items: flex-start;
        margin: 1em;
    }
}

.not-displayed {
    display: none;
}
.is-displayed {
    display: block;
}