* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Medium.ttf"); }

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Medium.ttf"); }


$firstFont: "Montserrat";
$altFont: "Roboto";

$firstColor: #572EE5;
$altColor:#5ED7C6;
$whiteColor:#fff;
$blackColor: #000;
$greyColor:#9CAFC3;
$backColor: #F3F5F8;
$darkFirstColor: #37383C;

// .theme {

// }
    
html {
    font-size: 100%;
}
    
body {
    background-color: $whiteColor;
    transition: .3 ease all;
} 

h1 {    
    font-family: $firstFont, "Sans-serif";
    font-size: 2em;  
    font-weight: 900;
    color: $firstColor; 
    text-align: center;
    line-height: 40px;
    margin: 0.5em 0;
}
        
h2 {
    font-family: $firstFont, "Sans-serif";
    color: $firstColor;
    font-size: 1.6em;
    font-weight: 700;
    text-align: center;
}
    
h3 {
    font-family: $altFont, "Sans-serif";
    color: $whiteColor;
    font-size: 1.2em; 
    font-weight: 600;
}
        
@media (min-width: 769px) {
    html {
            font-size: 1.3em; 
        }
}
    