main {
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title{
    width: 75%;
    
    span {
        color: $altColor;
   }
}


#search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-image {
    width: 75%;
    img {
        width: 100%;
    }
}

.search-bar {
    width: 85%;
}

.search-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1.5px solid $firstColor;
    border-radius: 30px;
    

    #search-input {
        font-family: $firstFont, "Sans-serif";
        font-size: 0.8em;
        width: 85%;
        height: 100%;
        margin: 0.5em 1em;
        border: none;
    }

    #search-input:focus{
        outline:none;
    } 

    li {
        font-family: $firstFont, "Sans-serif";;
        color: #9CAFC3;
        list-style: none;
    }
}

#search-btn, #clean-btn {
    color: $firstColor;
    cursor: pointer;
    margin: 0.5em 1em;
}

.search-container {
    width: 90%;
    height: 100%;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
}

.suggestions-div {
    width: 90%;
}

#suggestions-list {
 
    // margin: 0;
    // padding: 0 0.7em 0.7em 0.7em;

    div:first-child{
        border-top: 1px solid $greyColor
    }
}

.option-list {
    display: flex;
    padding: 0.5em 0;
    
    li {
        margin-left: 0.5em;
        cursor: pointer;
    }

    icon {
        color: $greyColor;
    }
}
#trending {
    margin: 2em;

    h2 {
        margin-bottom: 0.5em;
    }
}

.trending-terms {
    margin: auto;
    width: 80%;
    text-align: center;
    p {
        font-family: $firstFont, "Sans-serif";
        color: $firstColor;
        font-size: 1.2em;
        line-height: 1.5;
        margin: 0;
        display:inline;
    }
}

.term  {
    cursor: pointer;
}

#results {
    padding: 1em;
    h2 {
        padding: 1em 0;
    }
}

#results:before {
    content: "";
    display: block;
    width: 150px;
    margin: 1.5em auto;
    background-color: $greyColor;
    opacity: 0.8;
    height: 1px;
}

.grid-results {
    margin-top: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em 1.5em;

}

.card {
    img {
        width: 100%;
        height: 8em;
        margin: auto;
    }
}

#vermas-btn{
    cursor: pointer;
    padding: 10px 30px;
    margin: 2em auto;
    border: 2px solid $firstColor;
    border-radius: 70px;
    text-align: center;
    font-family: $firstFont;
    color: $firstColor;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

#vermas-btn:active {
    background-color: $firstColor;
    color: $whiteColor;
}

.slider-section {
    // overflow: hidden;
    background-color: $backColor;
    position: relative; 
    width: 100%;
    padding: 2em 0;
}

.slider {
    margin: 0 auto;
    max-width: 85%;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth;
}

.slider::-webkit-scrollbar{
    display: none;
}

.slider-title {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    h2 {
        color: $firstColor;
        margin: 0.5em;
        font-family: $firstFont;
        line-height: 30px;
    }

    p {
        color: $blackColor;
        margin: 1em;
        font-family: $altFont;
        font-size: 1.2em;
    }
}

.slider-card {
    margin: 0 0.5em;
    position: relative;

    img {
        max-width: 360px;
        height: 300px; 
    } 
    
    span {
        display: none;
    }
}

.card-mouseover {
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(87,46,229,0.7);
    position: absolute;
    top:0;
    left: 0;

    h3 {
        position: absolute;
        max-width: 90%;
        font-family: 'Roboto';
        // font-size: 1.5em;
        font-weight: 600;
        color: $whiteColor;
        bottom:0;
        left: 0; 
    }

    span {
        position: absolute;
        font-family: 'Roboto';
        font-size: 1.3em;
        font-weight: 500;
        color: #bd0d0d;  
        top:0;
        left: 0; 
    }
}

.card-mouseover-off{
    display: none;
}

.slider-btn {
    display: none;
    position: absolute;
    width: 60px;
    height: 60px;
    border: 2px solid $firstColor;
    outline: none;
    font-size: 25px;
    color:  $firstColor;
    cursor: pointer;
}

.slider-btn:hover {
    background-color:  $firstColor;
    color:  $whiteColor;
}

#sliderbtn-prev {
    top: 60%;
    left: 20px; 
}

#sliderbtn-next {
    top: 60%;
    right: 20px;
}

.card-icons {
    display: flex;
    justify-content: flex-end;   
}

.icons {
    opacity: 0.5;
    width: 32px;
    height: 32px;
    margin: 7px 7px 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $whiteColor;
    border-radius: 6px;
    cursor: pointer;
}

.icons:hover {
    opacity: 1;
}

.heart-icon {
    background-image: url(/assets/icon-fav-hover.svg);
}

.heart-icon-filled {
    background-image: url(/assets/icon-fav-active.svg)
}

.download-icon {
    background-image: url(/assets/icon-download.svg);
}

.max-icon {
    background-image: url(/assets/icon-max.svg);
}

.modal-container {
    visibility: hidden;
    position: fixed;
    z-index: 5000;
    background-color: $whiteColor;
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 80%;
    height: 65%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat','Arial', sans-serif;
    line-height: 23px;

    img {
        max-height: 90%;
        margin: auto;
    }

    h3 {
        font-size: 1.5em;
        font-weight: 900;
    }
}


.modal-img-show {
    width: 80%;
    max-width: 700px;
    display: block;
}

.modal-txt {
    position: fixed;
    margin-top: 1em;
}

.close-modal {
    position: absolute;
    top: 1em;
    right: 1.5em;
    z-index: 3;
    width: 30px;
    height: 30px;
    color:$firstColor;
    background-color: $whiteColor;
    cursor: pointer;
    border-style: none;    
}

.close-modal i {
    font-size: 30px;    
}


// .error-container {
//     display: none;
//     flex-direction: column;
//     width: 60%;
//     margin: 20px auto;
//     p {
//         margin: 10px auto;
//         font-family: 'Montserrat','Arial', sans-serif;
//         color: $altColor;
//         font-size: 1.5em;
//         font-weight: 700;
//         text-align: center;
// }


/////////////////

@media (min-width: 769px) {

    main {
        padding-top: 10%;
    }

    #title{
        width: 45%;
        h1 {
            line-height: 60px;
        }    
    }
    #search {
        width: 40%;
    }

    .search-bar {
        width: 100%;
    }

    #results {
        padding: 1em 3em;
    }

    .grid-results {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1.5em 1.5em;
        img {
            height: 10em;
        }
    }

    .slider-btn {
        display: block;
    }


}
