body {
    --black-color: #000;
    --white-color: #fff;
    --grey-color: #9CAFC3;
    --dark-firstcolor:#37383C;
    background-color: var(--dark-firstcolor);
}

#header {
    background-color:var(--dark-firstcolor);
    border-color: var(--black-color);
}

.bar1, .bar2, .bar3 {
    background-color: var(--white-color);
}

#menu {
    opacity: 1;
}

#list {
    background-color: var(--dark-firstcolor);
}

#title h1 {
    color: (--white-color);
}

.search-elements {
    border: 1.5px solid var(--white-color);
}

.search-elements input {
    background-color:var(--dark-firstcolor) ;
    color: var(--white-color);
}

#search-btn, #clean-btn {
    color: var(--white-color);
}

#results h2, #trending h3, #trending p {
    color: var(--white-color);
}

#vermas-btn {
    background-color: var(--white-color);
    border: 2px solid var(--white-color);
    color: var(--dark-firstcolor);
}

.slider-section {
    background-color: var(--black-color);
}

.slider-title h2, .slider-title p{
    color: var(--white-color);
}

.social-footer p , .rights {
    color: var(--white-color);
}

@media (min-width: 769px) {
    #menu {
        background-color: var(--dark-firstcolor);
    }

    #list {
        background-color: var(--dark-firstcolor);
    } 
    #list a {
        color: var(--white-color);
        border-bottom: 2px solid var(--dark-firstcolor);
    }
    
    #create-btn a {
        border: 1.5px solid var(--white-color);
    }

    #create-btn a:hover {
        background: var(--white-color); 
        color: var(--black-color);
    }           

    #create-btn a:active {
        background: var(--grey-color);
        border: 1.5px solid var(--grey-color);
        color: var(--white-color);
    }
}